#Calculator{
  border:1px solid rgba(93,93,93);
  border-radius: 5px ;
  width: 200px;
}

#display{
margin: 10px;
width: 85%;
font-size: 25px;
}
.button-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.btn{
  width: 50px;
  height: 50px;
  margin: 3px;
}